Header unset ETag
FileETag None
<FilesMatch "(?i)^.*\.(ico|flv|jpg|jpeg|png|gif|css|swf)$">
Header unset Last-Modified
Header set Expires "access plus 2 months"
Header set Cache-Control "public, no-transform"
</FilesMatch>
AddDefaultCharset UTF-8