ExpiresActive Onbr/> ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 2 days"

# compress the files 
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript 
# removes some bugs 
BrowserMatch ^Mozilla/4 gzip-only-text/html 
BrowserMatch ^Mozilla/4\.0[678] no-gzip 
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
Header append Vary User-Agent 

<filesmatch ".(ico|pdf|flv|jpg|jpeg|png|gif|swf)$"="">

Header set Expires "Wed, 21 May 2010 20:00:00 GMT"

</filesmatch>
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
